body{
    background-color:  #f0f2f5;
    overflow: auto;
    height: 100vh;

}
section{
   display: flex;
   justify-content:space-around ;
   align-items: center;
   height: 100vh;
   
  
}
#article1{
    flex-shrink: 1;
    order:0
    

}

#article1 img{
      width: 30vw;
      
}
#article1 h2{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 28px;
    width: auto;
    

    
}
.Log{
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-shrink: 1;
    order:-1
    
}

input{
    font-size: 20px;
    padding: 14px 16px;
    width: 330px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

#buttm{
    background-color: #1f4bec;
    color: white;
    border: none;
    font-size: 20px;
    line-height: 30px;
   
}
 a{
    text-decoration: none;
    text-align: center;
    padding: 140px 100px
}
#Forget a{
    color: hsl(214, 83%, 50%);
}
#Forget a:hover{
    text-decoration: underline;
}

.cree{

    background-color:#42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px
}
.cree a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
strong:hover{
    text-decoration: underline;
    cursor:pointer;
}
